html, body
{
    width:100%;
    height:100%;
    margin:0;
    padding:0;

}
#desktop
{
    background-image: url("pics/background2.jpg");
    background-size:cover;
    background-position:center;
    width:100%;
    height:100%;
    
}
.template{
    
}
.headline{
    background-color:gray;
    width:100%;
    height:20px;
    padding-bottom:5px;
    
}

.box{
    background-color:white;
    width:100%;
    height:300px;
    overflow: scroll;
    text-align:center;
   
}
.box ul{
    
    list-style:none;
    margin-top:0px;
    padding-left:0px;
    
}
.box ul li{
    background-color:#95a5a6;
    display: inline-block; 
    text-align:center;
    padding:5px;
    margin:3px;
    
}
.box img{
    border:3px;
}

.underline{
    background-color:gray;
    width:100%;
    height:20px;
    
}
#start{
    
    background-color:black;
    opacity:0.5;
    width:100%;
    height:40px;
    position:absolute;
    bottom:0px;
}
#start img{
    width:40px;
    height:40px;
}

.window
{
    overflow: hidden;
    width: 400px;
    border-radius:3px;
    border:1px solid black;
    
}

.close{
    float:right;
    padding-right:3px;
    
}

.close:hover{
    transform:scale(1.1,1.1);
    background-color:red;
}

.title{
    float:left;
}
.title img{
    padding-top:3px;
}
