#logo{
position:relative;
right:20px;
}
#numberOfMess{
float: right;
}
#message{
    overflow-y:scroll;

    height:400px;
}
#enkommentar p{
    word-break:break-all;
} 
#enkommentar img{
    float:right;
}

.glyphicon{
font-size: 30px;
float: right;
}